* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: red;
  height: 100vh;
  position: relative;
}

.clip {
  position: absolute;
  width: 100%;
  height: 100%;
}

.summer {
  background-image: url(../img/говерла-влітку.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.winter {
  background-image: url(../img/говерла-взимку.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: .5s;
  clip-path: polygon(0 0, 100% 0, 100% 1%, 0 100%);
}

.winter:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.summer:hover ~ .winter{
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

